<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/security 
          http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
          <!-- 
	<bean id="logger"
		class="org.springframework.beans.factory.config.CommonsLogFactoryBean">
		<property name="logName" value="log" />
	</bean>
 -->

	<!-- <import resource="security.xml"/> -->


	<security:global-method-security
		secured-annotations="enabled" pre-post-annotations="enabled" />


	<security:authentication-manager alias="am">
		<security:authentication-provider
			user-service-ref="myUserDetailsService">
		</security:authentication-provider>
	</security:authentication-manager>



	<bean id="tokensCache" class="com.littlech.gs.auth.LoginTokensCache"
		init-method="init" >
		<qualifier value="tokensCacheQual" />
	</bean>
	
	
	<bean id="gatewayID" class="com.littlech.gs.gate.Gateway"
		init-method="init" p:tokensCache-ref="tokensCache">
		<qualifier value="gatewayQual" />
	</bean>

	<bean id="myUserDetailsService" class="com.littlech.gs.auth.PlayersDetailsService"
		p:tokensCache-ref="tokensCache" />



	<context:annotation-config />

	<bean id="usersStore" class="com.littlech.gs.user.UserStore"></bean>
	<bean id="watchDog" class="com.littlech.gs.auth.WatchDog" p:authMan-ref="am"
		p:users-ref="usersStore"></bean>
	<bean id="lobby" class="com.littlech.gs.lobby.Lobby"></bean>
	<bean id="messageHandler" class="com.littlech.gs.communication.MessageHandler"
		p:lobby-ref="lobby"></bean>
	<bean id="userComm" class="com.littlech.gs.communication.UserCommunicationHandler"
		p:dog-ref="watchDog" p:messageHandler-ref="messageHandler"></bean>
	<bean id="gameServer" class="com.littlech.gs.GameServer" init-method="init"
		p:lobby-ref="lobby" p:communicationHandler-ref="userComm" p:users-ref="usersStore"
		p:port="4000"></bean>

</beans>
